
  body{
    background-color: #261d0b;
  }
  @font-face {
      font-family:"BEBAS___" ;
      src: url("BEBAS___.ttf") ;
  }
  #text {
    position: fixed;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:60px;
    color:white;

  }
  #text pre{
    font-family:"BEBAS___" ;
  }
  #background{
    position: absolute;
    top:0;
    left:0;
    opacity: 0.25;
    height:120%;
    width:100%;

  }
  .home{
    position:fixed;
    top:1%;
    right:0.6%;
    height:80px;
    width:78px;
    padding-bottom: 0.6px;
    opacity: 0.9;
    z-index:10;

  }
